<div class="container mt-5 p-4">
  <div class="row">
    <!-- Container 1: Photo -->
    <div class="col-md-6 mt-4 mb-4">
      <div class="card" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../assets/98B72DC4-0587-4BD8-9FA8-6BFA89032DE3.jpg"
              class="img-fluid rounded-start" alt="Profile Image">
          </div>
          <div class="col-md-8">
            <div class="card-body ">
              <h5 class="card-title">Kunal Pritlal Baghele</h5><hr />
              <p class="card-text">DOB: 18-06-1999</p>
              <p class="card-text">Mobile: +91 9130246949</p>
              <p class="card-text">Email Id: kunalbaghele40&#64;gmail.com</p>
              <p class="card-text">LinkedIn: <a
                  href="https://www.linkedin.com/in/kunal-baghele-93b2b4276"
                  target="_blank">Kunal Baghele</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Container 2: Technical Skills -->
    <div class="col-md-6 mb-4">
      <h3 class="mt-4">Skills and Certification</h3>
      <button class="btn btn-dark mb-3" (click)="showTechnology()">Programming
        Languages</button>
      <!-- child component -->
      <app-certification
        (certificationData)="receiveCertificationData($event)"></app-certification>

      <!-- Use *ngIf to conditionally show/hide the certifications -->
      <div *ngIf="certification">
        <div class="card mb-3" *ngFor="let cert of certifications">
          <div class="card-body">
            <h5 class="card-title">{{ cert }}</h5>
          </div>
        </div>
      </div>

      <!-- Use *ngIf to conditionally show/hide the programming languages -->
      <ul *ngIf="technology" class="list-group">
        <li class="list-group-item"
          *ngFor="let language of technologies">{{language}}</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <!-- Container 3: Educational Qualifications -->
    <div class="col-md-6 mb-4">
      <h3 class="mt-4">Educational Qualifications</h3>

      <div class="card mb-3 text-bg-success">
        <h5 class="card-title text-center">PG-DAC (July 2023)</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Diploma in Advanced Computing
            (Percentage
            -
            61%)</li>
          <li class="list-group-item">Full Stack Development (CDAC)</li>
        </ul>
      </div>

      <div class="card mb-3 text-bg-success">
        <h5 class="card-title text-center">Bachelor of Engineering (July
          2021)</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">G H Raisoni College of Engineering
            Nagpur</li>
          <li class="list-group-item">CGPA – 8.71</li>
        </ul>
      </div>

      <div class="card mb-3 text-bg-success">
        <h5 class="card-title text-center">XII (June 2017)</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Nanaji Joshi Jr. College, Shahapur</li>
          <li class="list-group-item">Maharashtra State Board (Percentage –
            71.84%)</li>
        </ul>
      </div>

      <div class="card mb-3 text-bg-success">
        <h5 class="card-title text-center">X (May 2015)</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Shirinbai Neterwala School, Tumsar</li>
          <li class="list-group-item">CBSE (CGPA – 8.4)</li>
        </ul>
      </div>

    </div>

    <!-- Container 4: Projects -->
    <div class="col-md-6 mb-4 ">
      <h3 class="mt-4">Projects Undertaken</h3>
      <div class="card mb-3 border-success">
        <h5 class="card-header text-bg-success">Farming Equipment Rental</h5>
        <div class="card-body">
          <h5 class="card-title">Technology Used:</h5>
          <p class="card-text">Java, Spring Boot REST API, JPA, React.JS,
            Bootstrap,
            MySQL</p><hr />
          <h5 class="card-title">Description:</h5>
          <p class="card-text">
            Farming Equipment Rental simplifies the equipment booking process
            for
            farmers, enabling them to place orders efficiently.
            Provide a user-friendly platform for customers, mainly farmers.
            Implemented admin dashboard for managing orders, tracking
            equipment
            availability, and communicating with users and enabling them to
            place
            orders efficiently.
            Pioneered the development and implementation of the Farming
            Equipment
            Rental website using a 3-tier architecture, designed and managed
            the
            database in MySQL, front-end in React.js, and back-end is
            developed
            Spring boot.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
